@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

:root::view-transition-old(root) {
	animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

:root::view-transition-new(root) {
	animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

html {
	scroll-behavior: smooth;
}

@keyframes reveal-scale {
	from {
		scale: 0.7;
	}
	to {
		scale: 1;
	}
}

.reveal-scale {
	will-change: scroll-position;
	view-timeline-name: --revealing-scale;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: ease-in-out reveal-scale both;
	animation-timeline: --revealing-scale;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 50%;
}

@keyframes reveal-fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.reveal-fade {
	will-change: scroll-position;
	view-timeline-name: --revealing-fade;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: ease-out reveal-fade both;
	animation-timeline: --revealing-fade;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 50%;
}

@keyframes reveal-slide {
	from {
		transform: translateY(100%);
		opacity: 0;
		scale: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
		scale: 1;
	}
}

.reveal-slide {
	will-change: scroll-position;
	view-timeline-name: --revealing-fade;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: ease-out reveal-slide both;
	animation-timeline: --revealing-fade;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 50%;
}

@media (width <= 640px) {
	.reveal-scale {
		/* animation: none !important; */
		animation-range: entry 25% cover 40%;
	}
}

@media (prefers-reduced-motion) {
	.reveal-scale,
	.reveal-fade,
	.reveal-slide {
		animation: none !important;
	}
}

.lite-youtube-fallback {
	aspect-ratio: 16 / 9; /* matches YouTube player */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

/* right-facing triangle "Play" icon */
.lite-youtube-fallback::before {
	display: block;
	content: '';
	border: solid transparent;
	border-width: 2em 0 2em 3em;
	border-left-color: red;
}

.lite-youtube-fallback:hover::before {
	border-left-color: #fff;
}

.lite-youtube-fallback:focus {
	outline: 2px solid red;
}